<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>

    <body>
        <header></header>
        <nav>
            <ul>
                <li><a href="example">Nav1</a></li>
                <li><a href="example">Nav2</a></li>
                <li><a href="example">Nav2</a></li>
            </ul>
        </nav>

        <article>
            <section>
                ...
            </section>
        </article>
        <aside></aside>
        <footer></footer>
    </body>
</html>